body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;


}

.top-bannar {
    background-image: url(donation7.jpg);
    color: white;
    height: 300px;
    text-align: center;
    padding: 250px;

}

.font {
    font-size: 50px;
}

.midel {
    text-align: center;
}

.flex-con {
    display: flex;
    justify-content: center;

}

.flex-con>div {
    width: 100px;
    background-color: rgb(242, 236, 236);
    font-size: 30px;
    margin: 10px;
    padding: 15px;
}

.div-2 {
    color: red;
    background-color: rgba(231, 156, 143, 0.375);
    border: 3px solid tomato;
    text-align: center;
    border-radius: 5%;

}

.center {
    text-align: center;
}

hr {
    width: 50%;
}



.link- {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.link-2 {
    text-align: center;
}

.itme img {
    width: 40%;
}

#itme {
    display: flex;
}

.i-d {
    text-align: center;

}

.flex-con-2 {
    display: flex;
}

.box {
    width: 30%;
    margin-left: 5px;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgb(192, 195, 188);


}

#tipe {
    background-color: antiquewhite;
}

#itme {
    background-color: rgb(238, 178, 222);
}

#view {
    background-color: rgb(182, 182, 182);
}

.flex-con-2 {
    display: flex;
}

.half {
    width: 50%;
    padding: 10px;
    margin: 20px;
}

.half img {
    width: 100%;
}

.maegin {
    margin: 20px;
}

.email {
    text-align: center;
}

.readias {
    border-radius: 10px;
}