body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;


}

.top-bannar {
    background-image: url(donation7.jpg);
    color: white;
    height: 300px;
    text-align: center;
    padding: 250px;

}

.font {
    font-size: 50px;
}

.midel {
    text-align: center;
}

.flex-con {
    display: flex;
    justify-content: center;

}

.flex-con>div {
    width: 100px;
    background-color: rgb(242, 236, 236);
    font-size: 30px;
    margin: 10px;
    padding: 15px;
}

.div-2 {
    color: red;
    background-color: rgba(231, 156, 143, 0.375);
    border: 3px solid tomato;
    text-align: center;
    border-radius: 5%;

}

#main-box {
    text-align: center;
    padding: 10px;

}


input[type='text'] {
    font-size: 18px;
    border: none;
    outline: none;
}

.horizen {
    width: 55%;
    text-align: center;
    margin-bottom: 33px;
    opacity: 0.3;
}






.link- {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.link-2 {
    text-align: center;
}

.itme img {
    width: 40%;
}

#itme {
    display: flex;
}

.i-d {
    text-align: center;

}

.flex-con-2 {
    display: flex;

}

.box {
    width: 30%;
    margin-left: 5px;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgb(192, 195, 188);


}

#tipe {

    background-color: antiquewhite;
}

#itme {

    background-color: rgb(238, 178, 222);
}

#view {

    background-color: rgb(182, 182, 182);
}

.flex-con-2 {
    display: flex;
}

.half {
    width: 50%;
    padding: 10px;
    margin: 20px;
}

.half img {
    width: 100%;
}

.maegin {
    margin: 20px;
}

.email {
    text-align: center;
}

.readias {
    border-radius: 10px;
}

/*--start-email-section--*/
.main {
    width: 55%;
    margin: 0 auto;
    background-color: antiquewhite;
    height: 210px;
    position: relative;
    margin-top: 70px;
}

.desc {

    width: 500px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type='email'] {
    background-color: azure;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 5px 0 0 5px;
}

input[type='submit'] {
    position: relative;
    left: -5px;
    border-radius: 0 5px 5px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: tomato;
}

.footer {
    background-color: black;
    text-align: center;
    margin: 0%;
    padding: 25px;
    margin-top: 120px;
}

footer>h1 {
    font-weight: bolder;
    color: tomato;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

footer>p {
    font-weight: 100;
    color: white;
    padding: 15px;
    opacity: 0.7;
}

/*--end-email-section--*/